@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    margin: 0;
    font-family: 'Quicksand';
    overflow-x: hidden;
}
.hover {
    cursor: pointer;
}
.popup {
    width: max-content;
    max-width: 60%;
    background: linear-gradient(90deg, rgb(241, 157, 157), rgb(240, 151, 151));
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 5px solid rgb(102, 102, 236);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    animation: popup 3s linear;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 10;
    color: white;
    position: fixed;
}
@keyframes popup {
    0% {
        transform: translate(-50%, -100%);
    }
    15% {
        transform: translate(-50%, 20%);
    }
    85% {
        transform: translate(-50%, 20%);
    }
    100% {
        transform: translat(-50%, -100%);
    }
}
.topbrands img {
    width: 5rem;
    height: 3rem;
    transition: all 500ms ease;
    margin-right: 1.5rem;
}
.topbrands img:hover {
    cursor: pointer;
    transform: translateY(-20%);
}
#swiper {
    width: 70%;
}
#swiper img {
    width: 95%;
    height: 40vh;
    object-fit: cover;
}
#swiper img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.swipertitle {
    position: absolute;
    bottom: 1.5rem;
    left: 0.5rem;
    color: white;
    font-weight: bold;
}
.carinfo span {
    color: rgb(103, 100, 100);
    font-weight: 400;
}
#about {
    background-image: url("https://images.unsplash.com/photo-1536196000545-2293bf37f22f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1888&q=80");
    background-position: center;
    background-size: cover;
}
.aboutanimation {
    animation: about 1000ms ease;
}
@keyframes about {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.swiper-pagination {
    bottom: 50px;
}
