@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}
.hover {
    cursor: pointer;
}
.popup {
    width: max-content;
    max-width: 50%;
    background: linear-gradient(white, rgb(213, 213, 250));
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 5px solid rgb(102, 102, 236);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    animation: popup 3s linear;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
}
@keyframes popup {
    0% {
        transform: translate(-50%, -100%);
    }
    15% {
        transform: translate(-50%, 20%);
    }
    85% {
        transform: translate(-50%, 20%);
    }
    100% {
        transform: translat(-50%, -100%);
    }
}
.topbrands img {
    width: 5rem;
    height: 3rem;
    transition: all 500ms ease;
}
.topbrands img:hover {
    cursor: pointer;
    transform: translateY(-20%);
}
.topbrands div {
    position: relative;
}
#swiper {
    width: 70%;
}
#swiper img {
    width: 95%;
    height: 40vh;
    object-fit: cover;
}
#swiper img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.swipertitle {
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
    color: white;
    font-weight: bold;
}

